body {
  margin-top: 30px;
}
.navbar-inverse .navbar-brand {
  font-family: verdana;
  font-size: 20px;
  color: white;
  padding-top: 15px;
}
.intro-header {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom:: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../Images/Pic1.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}



h1.title {
  padding: 0 50px 50px 0;
padding-top: 50px;

}
h2 {
  font-size: 22px;
}
.rating {
  font-size: 0.4em;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 4px;
  vertical-align: middle;
}
.summary h2, .actors h2 {
  margin-top: 0;
}
.actors li {
  line-height: 24px;
}
.review {
  margin-bottom: 30px;
}
