@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin-top: 30px;
}



.navbar-inverse .navbar-brand {
  font-family: verdana;
  font-size: 20px;
  color: white;
  padding-top: 15px;
}




#landing {
          font-family: 'Pacifico';
          text-align: center;
        }

#jumbo {
        font-family: 'verdana';
        font-weight: bold;
        color: white;
        text-align: center;
}


h1 {
    font-family: 'arial';
    text-align: center;
    font-size: 60px;
}
h2 {
    font-family: 'verdana';
    text-align: center;
    font-size: 40px;
}

p {
font-family: 'Verdana';
}
